@font-face {
  font-family: "Proza";
  src: url(https://github.com/Scythe101/scythe101.github.io/raw/main/ProzaLibre-Regular.ttf);
  font-weight: normal;
}

#a{
  font-family: "Proza";
  text-align: left;
  font-size: 30px;
}

#b{
  font-family:'Times New Roman', Times, serif;
  text-align: left;
  font-size: 30px;
}