body{
  display: flex;
  flex-wrap: wrap;
}



#project{
  text-align: center;
}

#image{
  width:10%;
  float: center;
  padding-right: 20px;
  vertical-align: middle;
}

a{
  text-decoration: none;
}

a:visited{
  color: #81A1C1;
}
a:link{
  color: #5E81AC;
  
}

#title{

  text-align: center;
  font-family: Verdana, sans-serif;
  font-size: 30px;
  width:100%;
  
}

.basicText{
  font-family: 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: 20px;
  padding-left: 4%;
  width: 100%;
}

.basicText h1{
  font-size: 25px;
}

#menuButton{
  font-size:30px;
  cursor:pointer;
  position: fixed;
}

#b{
  font-family: 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: 20px;
  padding-left: 4%;
  width: 100%;
}

.projects{
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 20px;
  padding: 1px;
  
  border-radius: 6px;
  width: 32%;
  
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
  
#c{
  width: 100%;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: left;
  font-size: 20px;
  padding-left: 4%;
}

#c h1{
  font-size: 30px;
}

#d{
  width: 100%;
  font-family: 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 20px;
  padding-left: 4%;
}



#space{
  width: 4px;
  height:0px;
}

.leftText{
  text-align: left;
  font-size: 16px;
  padding: 3px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  
  font-size: 25px;
  
  display: block;
  transition: 0.3s;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

span{
  padding-left: 12px;
}

@media screen and (max-width:680px){
  .projects{
    width: 100%;
  }
  #space{
    width: 0%;
    height:4px;
  }
}

@media (prefers-color-scheme: dark){
  body{
    background-color: #23283d;
    color: #dbdee1;
  }
  
  .sidenav{
    background-color: #3B4252;
    color: #ced4de;
  }
  .sidenav a{
    color: #ced4de;
  }
  .sidenav a:hover{
    color: white;
  }
  
  #blacklink:visited{
    color: #E5E9F0;
    
  }
  
  #blacklink:link{
    color: #E5E9F0;
    
  }

  .projects{
    background: rgb(37, 43, 67);
    border: 2px solid rgb(229, 234, 245);
  }
}

@media (prefers-color-scheme: light){
  body{
    background-color: #ECEFF4;
    color: rgb(75 85 105);
  }
  
  .sidenav{
    background-color: #3B4252;
    color: #ced4de;
  }
  .sidenav a{
    color: #ced4de;
  }
  .sidenav a:hover{
    color: white;
  }
  
  #blacklink:visited{
    color: rgb(75 85 105);
    
  }
  
  #blacklink:link{
    color: rgb(75 85 105);
    
  }

  .projects{
    background: rgb(229, 234, 245);
    border: 2px solid #4C566A;
  }
}